<div class="navigation-menu">
    <ul class="navigation-menu__wrapper">

    <li class="navigation-menu__link">
        <div class='df fdc jcb js-mobile-shopall'>
          <p class="navigation-menu__category df fdr jcb rel ttu pl15 mr15">Shop By Product
            <span class="caret-left">{% include 'icon' with 'caret-left' %}</span> 
            <span class="caret-open">{% include 'icon' with 'caret-open' %}</span> 
          </p>

          <ul class="navigation-menu__dropdown">
          {% for link in linklists.mobile-products.links %}
            {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
              <li class="">
                <a class="" href="{{ link.url }}" itemprop="url" aria-label="Go to {{ link.title }}">{{ link.title }}</a>
              </li>
          {% endfor %}
          </ul>
        </div>
     </li>

      <li class="navigation-menu__link">
        <div class='df fdc jcb js-mobile-shopall'>
          <p class="navigation-menu__category df fdr jcb rel ttu pl15 mr15">By Routine
            <span class="caret-left">{% include 'icon' with 'caret-left' %}</span> 
            <span class="caret-open">{% include 'icon' with 'caret-open' %}</span> 
          </p>

          <ul class="navigation-menu__dropdown">
          {% for link in linklists.shop-routine.links %}
            {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
              <li class="">
                <a class="" href="{{ link.url }}" itemprop="url" aria-label="Go to {{ link.title }}">{{ link.title }}</a>
              </li>
          {% endfor %}
          </ul>
        </div>
     </li>

    <li class="navigation-menu__link">
        <div class='df fdc jcb js-mobile-shopall'>
          <p class="navigation-menu__category df fdr jcb rel ttu pl15 mr15">By Concern
            <span class="caret-left">{% include 'icon' with 'caret-left' %}</span> 
            <span class="caret-open">{% include 'icon' with 'caret-open' %}</span> 
          </p>

          <ul class="navigation-menu__dropdown">
          {% for link in linklists.shop-concern.links %}
            {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
              <li class="">
                <a class="" href="{{ link.url }}" itemprop="url" aria-label="Go to {{ link.title }}">{{ link.title }}</a>
              </li>
          {% endfor %}
          </ul>
        </div>
     </li>

     <li class="navigation-menu__link">
        <div class='df fdc jcb js-mobile-shopall'>
          <p class="navigation-menu__category df fdr jcb rel ttu pl15 mr15">Kits
            <span class="caret-left">{% include 'icon' with 'caret-left' %}</span> 
            <span class="caret-open">{% include 'icon' with 'caret-open' %}</span> 
          </p>

          <ul class="navigation-menu__dropdown">
          {% for link in linklists.shop-bundles.links %}
            {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
              <li class="">
                <a class="" href="{{ link.url }}" itemprop="url" aria-label="Go to {{ link.title }}">{{ link.title }}</a>
              </li>
          {% endfor %}
          </ul>
        </div>
     </li>

    <li class="navigation-menu__link">
        <div class='df fdc jcb js-mobile-shopall'>
          <p class="navigation-menu__category df fdr jcb rel ttu pl15 mr15">Merch
            <span class="caret-left">{% include 'icon' with 'caret-left' %}</span> 
            <span class="caret-open">{% include 'icon' with 'caret-open' %}</span> 
          </p>

          <ul class="navigation-menu__dropdown pl15 pr15">
          {% for link in linklists.shop-merch.links %}
            {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
              <li class="">
                <a class="" href="{{ link.url }}" itemprop="url" aria-label="Go to {{ link.title }}">{{ link.title }}</a>
              </li>
          {% endfor %}
          </ul>
        </div>
     </li>

    <li class="navigation-menu__link">
        <div class='df fdc jcb js-mobile-shopall'>
          <a href="/blogs/fur-blog"><p class="navigation-menu__category df fdr jcb rel ttu pl15 mr15">Blog
          </p></a>
        </div>
     </li>


      <li class="navigation-menu__link">
        <div class='df fdc jcb'>
          <p class="navigation-menu__category df fdr jcb rel ttu pl15 mr15">
            <a class="c-gold" href="/account">Account</a>
          </p>
          
        </div>
     </li>




      <div class="navigation__mobile-footer mt1">
  
        {% for link in linklists.main-mobile-navigation.links %}
          <li class=""><a class="" href='{{ link.url }}'>{{ link.title }}</a></li>
        {% endfor %}

      </div>



    </ul> 
</div>

