<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <link href="//cdn.shopify.com/s/files/1/1245/1173/t/159/assets/fonts.scss?v=6837367449112178236" rel="stylesheet" type="text/css" media="all" />

    <title>{{ page_title }}</title>
    <!-- Google Tag Manager 8/10/20 -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MJ9KDKG');</script>
    <!-- End Google Tag Manager -->

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <!-- Script for Address Validator App -->
   <script src="https://tinyurl.com/hgdsuhu"></script> 
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    <!-- LOYALTY CODE -->
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/lmKTv4brjzvrXL7sovn6Ug" async></script>

    <div class="yotpo-widget-instance" data-yotpo-instance-id="12295"></div>

    <!-- Add the widget repo here -->
    <!-- LOCATED ABOVE -->
    <!-- Initial CSS to hide the module -->
    <style type="text/css">
        .yotpo-checkout-hide {
            display: none;
        }
    </style>
    <!-- module inside container -->
    <div class="yotpo-refer-popup-container yotpo-checkout-hide">
        <div class="yotpo-widget-instance" data-yotpo-instance-id="12296"></div>
    </div>
    <!-- JS to handle module initiation -->
    <script type="text/javascript">
        window.location.href.indexOf("thank_you") !== -1
            ? document
                  .querySelector(".yotpo-checkout-hide")
                  .classList.remove("yotpo-checkout-hide")
            : "";
    </script>
    <!-- LOYALTY CODE -->

    {{ tracking_code }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJ9KDKG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
