<!DOCTYPE html>
<html lang='{{ shop.locale }}'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='canonical' href='{{ canonical_url }}'>
    
    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    {% capture seo_title %}
      {{ page_title }}
      {% if current_tags %}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {% endif %}
      {% if current_page != 1 %}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {% endif %}
      {% unless page_title contains shop.name %}
        &ndash; {{ shop.name }}
      {% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>

    {% include 'head-meta' %}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {{ 'index.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

    <body>
    {{ content_for_layout }}
    <div class="password x y f fdc jcc aic">
      <div class="password__block">
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <input type="password"
            name="password"
            id="Password"
            class="password__input bodycopy"
            placeholder="password">
          <button class="password__btn uppercase" type="submit" name="commit">
            Enter Site
          </button>
        {% endform %}
      </div>
    </div>
  </body>
</html>

